/*
 *author: Developed by NotFour
 */
/*
 *color styles
 */
@media screen and (min-width: 961px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 481px) and (max-width: 960px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #fff;
  color: #222;
  margin: 0;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/*
 *styles for titles, paragraphs, links
 */
a {
  color: #222;
  text-decoration: underline;
}
a:focus {
  outline: 2px solid #fad027;
}
.link {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: color 0.3s linear;
}
.link:hover {
  color: #0091be;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
.title {
  font-weight: normal;
}
@media screen and (min-width: 961px) {
  .title_xs {
    font-size: 2.4rem;
  }
  .title_s {
    font-size: 3rem;
  }
  .title_m {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 960px) {
  .title_xs {
    font-size: 2rem;
  }
  .title_s {
    font-size: 2.6rem;
  }
  .title_m {
    font-size: 3rem;
  }
}
p {
  line-height: 2.2;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
p:last-child {
  margin-bottom: 0;
}
/*
 *styles for page layout
 */
.page {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 8.8rem;
}
@media screen and (min-width: 961px) {
  .page {
    padding-top: 8.4rem;
  }
}
.header {
  background-color: #fff;
  border-bottom: 5px solid #fad027;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: inherit;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1.1;
  margin-right: 10rem;
  flex-shrink: 0;
}
.header__logo-name {
  font-size: 2.4rem;
}
.header__logo-caption {
  display: block;
  color: #0091be;
}
@media screen and (min-width: 961px) {
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
}
@media screen and (max-width: 960px) {
  .header__logo-caption {
    padding-top: .2rem;
  }
}
.main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section {
  box-shadow: inset 0 -1px 5px 0 #eee;
}
.section:last-of-type {
  box-shadow: none;
}
.section__title {
  padding-bottom: 2rem;
}
.section__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.section__about-stats {
  margin-bottom: 1.5rem;
}
.section__about-stat {
  margin-bottom: 2.5rem;
}
.section__about-stat:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 961px) {
  .section {
    padding-top: 55px;
    padding-bottom: 15px;
  }
  .section__title {
    box-shadow: 0 1px 0 0 #eee;
    margin-bottom: 5.5rem;
  }
  .section__about-content {
    width: 47.08333333333333%;
    margin-bottom: 1.5rem;
  }
  .section__about-stats {
    width: 49.16666666666667%;
  }
  .section__content {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 960px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section__title {
    margin-bottom: 2rem;
  }
  .section__about-content {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .section__about-stats {
    width: 100%;
  }
}
.footer {
  min-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: #3c3838;
  font-size: 1.4rem;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .footer__copyright {
    display: block;
    margin-bottom: .3rem;
  }
  .footer__developer {
    display: block;
  }
}
@media screen and (min-width: 481px) {
  .footer {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
  }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    text-align: center;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
  }
}
/*
 *styles for blocks
 */
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon:before {
  content: "";
  display: inline-block;
  background: no-repeat 50% 50%;
  background-size: contain;
}
.icon-cup:before {
  background-image: url("../img/cup.svg");
}
.icon-keyboard:before {
  background-image: url("../img/keyboard.svg");
}
.icon-pencil:before {
  background-image: url("../img/pencil.svg");
}
.icon-mail:before {
  background-image: url("../img/mail.svg");
}
.menu__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.menu__link {
  color: inherit;
}
.mobile-menu__toggle {
  padding: 0;
  border: 0;
}
.menu__list-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}
.menu__list-item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 961px) {
  .mobile-menu__toggle {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .mobile-menu {
    overflow: hidden;
  }
  .mobile-menu__icon {
    border: 3px solid #fff;
    border-radius: 50%;
    line-height: 10rem;
    margin-bottom: 2rem;
    width: 10rem;
    height: 10rem;
    box-sizing: border-box;
  }
  .mobile-menu__icon:before {
    width: 2rem;
    height: 2rem;
  }
  .mobile-menu__label {
    width: 100%;
  }
  .mobile-menu_active .mobile-menu__toggle {
    position: relative;
    z-index: 9999;
    transform: rotate(90deg);
  }
  .mobile-menu_active .mobile-menu__toggle-label {
    background-color: #fff;
  }
  .mobile-menu_active .mobile-menu__list {
    transform: translateX(0);
  }
  .mobile-menu__toggle {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-indent: -9999px;
    background-color: rgba(255, 255, 255, 0);
    transition: transform 0.3s linear 0.3s;
  }
  .mobile-menu__toggle-label {
    background: #222;
    display: block;
    position: absolute;
    top: 25px;
    left: 9px;
    right: 9px;
    height: 2px;
    transition: background 0.3s linear;
  }
  .mobile-menu__toggle-label:before,
  .mobile-menu__toggle-label:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: inherit;
    content: "";
  }
  .mobile-menu__toggle-label:before {
    bottom: 10px;
  }
  .mobile-menu__toggle-label:after {
    top: 10px;
  }
  .mobile-menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
    background-color: #0091be;
  }
  .mobile-menu__list-item {
    margin-right: 0;
  }
  .mobile-menu__link {
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
  }
}
@keyframes list-open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.banner {
  background-color: #0091be;
  text-align: center;
}
.banner__preview {
  display: inline-block;
}
.banner__caption {
  font-style: italic;
  color: #fff;
}
@media screen and (min-width: 481px) {
  .banner {
    padding-top: 60px;
    padding-bottom: 45px;
  }
  .banner__caption {
    font-size: 4.6rem;
    line-height: 7.5rem;
  }
}
@media screen and (min-width: 961px) {
  .banner__preview {
    vertical-align: middle;
  }
  .banner__caption {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
}
@media screen and (max-width: 960px) {
  .banner__caption {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .banner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .banner__preview {
    width: 60%;
  }
  .banner__caption {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}
.stat__name {
  display: block;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.stat__value {
  overflow: hidden;
  background-color: #eee;
}
.stat__bar {
  height: 100%;
  text-indent: -9999px;
  animation: bar-filling 1.5s linear;
}
.stat__bar_90 {
  width: 90%;
}
.stat__bar_85 {
  width: 85%;
}
.stat__bar_95 {
  width: 95%;
}
.stat__bar_blue {
  background-color: #0091be;
}
.stat__bar_green {
  background-color: #40c95d;
}
.stat__bar_yellow {
  background-color: #fad027;
}
@media screen and (min-width: 961px) {
  .stat__value {
    height: 3rem;
  }
}
@media screen and (max-width: 960px) {
  .stat__value {
    height: 2rem;
  }
}
@keyframes bar_90 {
  to {
    transform: translateX(-10%);
  }
}
@keyframes bar_85 {
  to {
    transform: translateX(-15%);
  }
}
@keyframes bar_95 {
  to {
    transform: translateX(-5%);
  }
}
@keyframes bar-filling {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.project {
  margin-top: 2%;
  text-align: center;
  position: relative;
}
.project:hover .project__overlay {
  opacity: 1;
}
.project:nth-child(1) {
  margin-top: 0;
}
.project:nth-child(2) {
  margin-top: 0;
}
.project__overlay {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
  background-color: #0091be;
  padding-left: 1rem;
  padding-right: 1rem;
}
.project__caption {
  overflow: hidden;
  color: #fff;
}
@media screen and (min-width: 961px) {
  .project {
    width: 23.5%;
  }
  .project:nth-child(4) {
    margin-top: 0;
  }
}
@media screen and (min-width: 481px) {
  .project:nth-child(3) {
    margin-top: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 960px) {
  .project {
    width: 32%;
  }
}
@media screen and (max-width: 480px) {
  .project {
    width: 49%;
  }
}
.article {
  font-size: 1.6rem;
}
.article:first-child {
  margin-top: 0;
}
.article__picture {
  margin-bottom: 20px;
}
.article__title {
  margin-bottom: 2.5rem;
}
.article__date {
  text-align: center;
  background-color: #0091be;
}
.article__addition {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}
.article__author {
  flex-shrink: 0;
  margin-right: 1rem;
}
.adticle__addition-label {
  display: inline-block;
  vertical-align: middle;
}
.article__author-icon {
  margin-right: .3rem;
}
.article__author-icon:before {
  height: 1.6rem;
  width: 1.5rem;
  background-image: url("../img/person.svg");
}
.article__tags {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
}
.article__tag {
  margin-left: .5rem;
  margin-bottom: .5rem;
}
.article__tags-icon {
  margin-right: .3rem;
}
.article__tags-icon:before {
  height: 1.3rem;
  width: 1.3rem;
  background-image: url("../img/tag.svg");
}
@media screen and (min-width: 961px) {
  .article__date {
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  .article__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .article__day {
    display: block;
    background-color: #eee;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
  }
  .article__month {
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #fff;
  }
  .article__month_main {
    padding-left: 4.7rem;
    padding-right: 4.7rem;
  }
  .article__month_secondary {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 481px) {
  .article {
    margin-top: 30px;
  }
  .article_secondary {
    width: 49%;
  }
}
@media screen and (max-width: 960px) {
  .article {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
  }
  .article__date {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1.6rem;
  }
  .article__addition {
    order: 9999;
  }
}
@media screen and (max-width: 480px) {
  .article {
    margin-top: 1.8rem;
    box-shadow: 0 2px #eee;
  }
  .article:last-child {
    box-shadow: none;
  }
}
.tag {
  background-color: #0091be;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.google-map {
  display: block;
  width: 100%;
  background: url("../img/map.jpg") no-repeat;
  border: 0;
}
@media screen and (min-width: 961px) {
  .google-map {
    height: 360px;
  }
}
@media screen and (max-width: 960px) {
  .google-map {
    height: 200px;
  }
}
