.menu__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu__link {
  color: inherit;
}

.mobile-menu__toggle {
  padding: 0;
  border: 0;
}

.menu__list-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

@media screen and(min-width: 961px) {

  .mobile-menu__toggle {
    display: none;
  }
}

@media screen and(max-width: 960px) {

  .mobile-menu {
    overflow: hidden;
  }

  .mobile-menu__icon {
    border: 3px solid #fff;
    border-radius: 50%;
    line-height: 8rem;
    margin-bottom: 2rem;
    width: 8rem;
    height: 8rem;
    box-sizing: border-box;
    &:before {
      width: 2rem;
      height: 2rem;
    }
  }

  .mobile-menu__label {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .mobile-menu_active {

    .mobile-menu__toggle {
      position: relative;
      z-index: 9999;
      transform: rotate(90deg);
    }

    .mobile-menu__toggle-label {
      background-color: @colorWhite;
    }

    .mobile-menu__list {
      transform: translateX(0);
    }
  }

  .mobile-menu__toggle {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-indent: -9999px;
    background-color: rgba(255, 255, 255, 0);
    transition: transform 0.3s linear 0.3s;
  }

  .mobile-menu__toggle-label {
    background: @colorBlack;
    display: block;
    position: absolute;
    top: 25px;
    left: 9px;
    right: 9px;
    height: 2px;
    transition: background 0.3s linear;
    &:before, &:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: inherit;
      content: "";
    }
    &:before {
      bottom: 10px;
    }
    &:after {
      top: 10px;
    }
  }

  .mobile-menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
    background-color: @colorMain;
  }

  .mobile-menu__list-item {
    margin-right: 0;
    width: 24%;
  }

  .mobile-menu__link {
    color: @colorWhite;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
  }
}

@keyframes list-open {

  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}